@import "./_css-reset.css";
$top-bar-height: 30px;

body {
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

#top-bar {
  width: 100vw;
  flex-direction: row;
  display: flex;
  height: $top-bar-height;
  background-color: lightgray;
  position: relative;
  border-bottom: 2px solid black;
}

#screen {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  grid-auto-rows: 1fr;
  position: relative;
}

#screen::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

#screen > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

/* Just to make the grid visible */

#screen > * {
  color: black;
}

/*
Menu Styles
*/
#apple-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
}
#file {
  font-size: 0.9em;
  margin-left: 0.25em;
  align-self: center;
}
#file:hover {
  background-color: black;
  color: white;
}
#edit {
  font-size: 0.9em;
  margin-left: 0.25em;
  align-self: center;
}
#edit:hover {
  background-color: black;
  color: white;
}
#view {
  font-size: 0.9em;
  margin-left: 0.25em;
  align-self: center;
}
#view:hover {
  background-color: black;
  color: white;
}
#special {
  font-size: 0.9em;
  margin-left: 0.25em;
  align-self: center;
}
#special:hover {
  background-color: black;
  color: white;
}
#datetime {
  margin-left: auto;
  align-self: center;
}

.modal {
  background-color: lightgray;
  position: absolute;
}

.modal:active {
  border: 2px solid black;
}

.modalBar {
  text-align: center;
  border-bottom: 1px solid black;
  height: 25px;
  position: relative;
}

.close-btn {
  border: 1px solid black;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
}
